/* start faq section style */
.faq-title span {
  position: relative;
  font-size: 22px;
}
.faq-title span::before {
  content: "";
  background-color: rgb(214, 124, 75);
  width: 50px;
  height: 3px;
  position: absolute;
  top: 19px;
  right: -110px;
}
.faq-title span::after {
  content: "";
  background-color: rgb(214, 124, 75);
  width: 50px;
  height: 3px;
  position: absolute;
  top: 19px;
  right: 60px;
}
.faq-section {
    background-image: url('../img/bg-5.jpg');
    min-height: max-content;
    background-size: cover;
}
.faq-right {
    box-shadow: rgb(204, 179, 103) 0px 2px 5px 1px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 15px;

}
.faq-right ul {
    padding: 0px 20px 35px 5px;
}
.faq-right li {
    padding-top: 20px;
    list-style: none;
}
.faq-right li i {
    padding-left: 10px;
    vertical-align: -5px;
    font-size: 25px;
    color: blue;
}
.faq-right li h6 {
    font-size: 20px;
    color: rgb(26, 25, 25);
}
.faq-right li span {
    font-size: 18px;
    color: rgb(43, 42, 42);
}
.faq-left {
    box-shadow: rgb(204, 179, 103) 0px 2px 5px 1px;
    background-color: rgba(255, 255, 255, 0.336);
    overflow: hidden;
    border-radius: 15px;
}
.faq-left .tab label {
    padding: 13px 10px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: all .5s;
}
.faq-left .tab input {
    display: none;
}
.faq-left .tab {
    overflow: hidden;
}
.faq-left .tab label:hover {
    background-color: rgba(255, 209, 140, 0.322);
}
.faq-left .tab-label::after {
    content: '\276f';
    vertical-align: -5px;
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
    margin-right: 5px;
    float: left;
    transition: all 1s ease;
}
.faq-left .tab-content {
    max-height: 0;
    transition: all 1s ease-out;
}
.faq-left .tab input:checked ~ .tab-content {
    max-height: max-content;
    margin:0 15px 15px 5px;
    padding-bottom: 0px;
}
.faq-left .tab input:checked ~ .tab-content2 {
    max-height: 100px;
    margin:0 15px 15px 5px;
    padding-bottom: 0px;
    overflow-y: scroll;
}
.faq-left .tab input:checked + .tab-label::after {
    transform: rotate(-90deg);
}

/* end faq section style */